<div class="banner"></div>
<div class="container container-main">
<h1>Listing products</h1>
<div id="remote">
<%= paginate @products, :remote => true %>
</div>
<div id = "remote-data">
  <%= render :partial => "remote" %>
</div>
<br />
<%= link_to_next_page @products, 'Load More', :remote => true, :id=>"load_morelink" %>

<%= link_to 'New product', new_product_path %>
</div>